<div class="page-container">
  <header>
    <div class="content-container">
      <div class="navigation-container">
        <img src="../assets/images/logo.svg" alt="logotype" class="logo">
        <nav class="desktop-nav" id="desktop-nav">
          <li *ngFor="let elem of menu"><a [href]="elem.href">{{ elem.text }}</a></li>
        </nav>
        <div class="call-container">
          <a href="tel:+7 (928) 373–01–65" class="telephone"><img src="../assets/images/phone.svg" alt="phone" class="call">&nbsp;&nbsp;&nbsp;+7 (928) 373-01-65</a>
          <a href="" class="order-call">Заказать звонок</a>
        </div>
          <div class="mobile-nav">
              <app-mobile-nav [menu]="menu"></app-mobile-nav>
          </div>
      </div>
      <div class="main-info">
         <h3 class="sale">Скидки до конца августа</h3>
         <h1>Декоративный камень и 3D панели<br> из гипса для внутренней оделки</h1>
         <p>Изготовлены с помощью технологии вибролитья</p>
         <button (click)="scrollToElement(target)">Продукция</button>
      </div>
      <!-- Advantages Component -->
      <app-advantages *ngIf="advantages"></app-advantages>
    </div>
  </header>
  <div class="products-container" id="products">
    <div class="content-container" #target>
      <!-- Неизвестно кликабельны ли блоки с цветами-->
      <app-products></app-products>
    </div>
  </div>
  <app-request></app-request>
  <div class="production-container" id="production">
    <div class="production-content">
        <h1>Преимущества гипса</h1>
      <div class="production-content_main">
        <img src="../assets/images/column.svg" alt="column">
        <div class="production-content_main_text-content">
          <p>Гипс обладает уникальной способностью поддерживать оптимальную влажность в помещении. При избытке влаги он впитывает в себя излишек, а при снижении – отдает. Помещения, отделанные гипсом, имеют благоприятный микроклимат, потому что гипс работает как природный кондиционер.</p>
          <p>Все изделия на основе гипса обладают высокой парогазопроницаемостью.</p>
          <p>Изготовлены с помощью технологии вибролитья</p>
          <p>Материалы на основе гипса являются негорючими и огнестойкими, они не содержат токсичных компонентов и веществ. Имеют кислотность, аналогичную кислотности кожи человека (Ph=5,5), поэтому соприкосновения с гипсовой стеной не принесет вреда даже ребенку.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Here will be placed projects slider -->
  <div class="projects-container" id="about">
      <app-projects></app-projects>
  </div>
  <footer class="page-footer" id="contacts">
    <div class="content-container">
      <div class="footer-content">
          <div class="insta-container">
            <h1>Все наши работы</h1>
            <!-- Сюда виджет для инсты -->
            <div class="insta-block"></div>
          </div>
          <div class="location-container">
            <h1>Где мы находимся</h1>
            <p>Ставропольский край, Предгорный район, Посёлок Санамер, Ул. Спортивная.</p>
            <iframe src="https://yandex.ru/map-widget/v1/-/CCRq7Iz2" width="100%" height="80%" frameborder="0" style="border:0;" allowfullscreen="true"></iframe>
          </div>
      </div>
      <div class="footer">
        <div class="top-row">
          <div class="copyright">
            <p>© 2019</p>
            <button (click)="scrollToElement(target)">Продукция</button>
          </div>
          <img src="../assets/images/logo.svg" alt="logotype" class="logo">
          <div class="share-container">
              <app-share></app-share>
          </div>
        </div>
        <div class="bottom-row">
          <p>ИП Тиридатов Павел Ровшанович ОРГНИП 319265100017492</p>
        </div>
      </div>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>
