<div class="container">
    <div class="background" (click)="close()"></div>
    <div class="modal">
        <div class="modal-inner">
            <h1>Оставить заявку<div class="close" (click)="close()"><span></span></div></h1>
            <form novalidate (ngSubmit)="sendData(data,form )" #form="ngForm">
                <input type="text" #name='ngModel' name="name" placeholder="Имя" [(ngModel)]="data.name" required minlength="3">
                <input type="tel" id="phone" #tel='ngModel' name="tel" placeholder="+7 (___) ___-__-__" [(ngModel)]="data.tel" 
                required 
                pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$">
                <button type="submit" [disabled]="btnClicked && form.invalid" [ngClass]="{'disabled': btn.disabled}" #btn>Отправить</button>
            </form>
            <ul *ngIf="formSubmitted && form.invalid" class="errors-container">
                <li>Проверьте правильность введенных данных</li>
            </ul>
        </div>
    </div>
</div>