<div class="container">
  <h1>Укладка</h1>
  <div class="content">
    <div class="text-content">
      <div class="text">
        <p>Стоимость укладки плитки камня – от <span class="yellow">980 руб. / м2</span></p>
        <p>Выезд мастера – <span class="yellow">бесплатно</span></p>
        <p>При заказе “камень + монтаж” – <span class="yellow">скидка</span></p>
      </div>
      <button>Оставить заявку</button>
    </div>
    <img src="../assets/images/masterok.svg" alt="masterok">
  </div>
</div>